<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret_page</title>
</head>
<body>
    <div class="container">
        <h1>WELCOME TO OUR SECRET PAGE</h1>
        <p>It will only be visible to user if they are registered  and loggined in with us</p>
    </div>
</body>
</html>